html, body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(46, 173, 109);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#navbar {
    height: 70px;
    min-height: 70px;
    width: 100%;
    background-color: rgba(130, 167, 192);
    display: flex;
    justify-content: space-between;
    font-size: 19px;
}

.navbar-section {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.navbar-item {
    margin: 3px;
    padding: 7px;
    user-select: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    color: black;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-height: calc(100vh - 70px);
}

#file-upload {
    flex-grow: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.file-not-dragging {
    background-color: gray;
    border: 2px dashed black;
}

.file-dragging {
    background-color: rgb(82, 82, 82);
    border: 2px dashed rgb(255, 255, 255);
}

#upload-button {
    margin-top: 2%;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 5px;
}

#upload-button:hover {
    cursor: pointer;
    background-color: rgb(106, 31, 175);
}

#dynamic-container {
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
    background-color: darkslategray;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

#csv-grid {
    height: 100%;
    display: grid;
}

.grid-item {
    color: white;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-weight: 700;
    font-size: larger;
    background-color: rgb(21, 37, 37);
}

#setup-container {
    box-sizing: border-box;
    padding: 25px;
    height: 100%;
    width: 35%;
    min-width: 300px;
    max-width: 550px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fields-container {
    width: 100%;
}

.field-row {
    box-sizing: border-box;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(0, 0, 184);
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.field-row:not(:last-child) {
    margin-bottom: 3%;
}

.field-label {
    color: white;
    min-width: 30%;
}

.input-container {
    position: relative;
    flex-grow: 1;
}

.input {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
}

.input:focus {
    border: 1px solid black;
    outline: none;
}

.dropdown-container {
    box-sizing: border-box;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    max-height: 300px;
    width: 100%;
    background-color: white;
    overflow-y: auto;
    display: none;
}

.dropdown-item {
    box-sizing: border-box;
    padding: 5px;
}

.dropdown-item:not(:last-child) {
    border-bottom: 1px solid rgb(167, 167, 167);
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: rgb(167, 167, 167);
}

#extra-info-container {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 30%;
    background-color: rgb(0, 0, 184);
    border-radius: 5px;
    overflow-y: auto;
}

#add-info-button {
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: rgb(24, 24, 243);
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-info-button:hover {
    background-color: rgb(20, 20, 202);
    cursor: pointer;
}

.extra-info-input-container {
    position: relative;
}

.extra-info-input {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    border: 1px solid transparent;
    text-align: center;
}

.extra-info-input:focus {
    border: 1px solid black;
    outline: none;
}

.extra-info-input:not(:last-child) {
    margin-bottom: 2%;
}

.extra-info-dropdown-container {
    box-sizing: border-box;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 200;
    max-height: 700%;
    width: 100%;
    background-color: white;
    overflow-y: auto;
}

.extra-info-dropdown-item {
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}

.extra-info-dropdown-item:not(:last-child) {
    border-bottom: 1px solid rgb(167, 167, 167);
}

.extra-info-dropdown-item:hover {
    cursor: pointer;
    background-color: rgb(167, 167, 167);
}

.added-info-container {
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.added-info-container:not(:last-child) {
    margin-bottom: 2%;
}

.added-info-header {
    font-weight: 700;
    flex-grow: 1;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    color: white;
    background-color: rgb(53, 53, 235);
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-added-info-button {
    border-radius: 5px;
    margin-left: 2%;
    background-color: red;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.remove-added-info-button:hover {
    cursor: pointer;
    background-color: rgb(211, 0, 0);
}

#check-records-container {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 184);
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#check-records-button {
    background-color: aqua;
    padding: 8px;
    border-radius: 5px;
}

#check-records-button:hover {
    cursor: pointer;
    background-color: rgb(0, 185, 185);
}

#record-display-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90%;
}

.record-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.record-fields-box {
    width: 85%;
    max-height: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(21, 37, 37);
    border-radius: 10px;
    overflow-y: auto;
}

.record-field-container {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.record-field-container:not(:last-child) {
    margin-bottom: 1vh;
}

.record-field-key {
    padding: 3px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.record-field-value {
    padding: 3px;
    text-align: center;
    color: white;
}

#record-display-footer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background-color: darkcyan;
}

.display-footer-box {
    width: 35%;
    max-width: 425px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-text {
    background-color: rgb(1, 102, 102);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: larger;
    font-weight: 700;
}

#back-button {
    background-color: crimson;
    padding: 8px;
    border-radius: 5px;
}

#back-button:hover {
    cursor: pointer;
    background-color: rgb(173, 17, 49);
}

#list-name-input {
    font-size: large;
    border: 1px solid transparent;
    width: 70%;
    padding: 5px;
}

#list-name-input:focus {
    border: 1px solid black;
    outline: none;
}

#upload-list-button {
    background-color: greenyellow;
    padding: 8px;
    border-radius: 5px;
}

#upload-list-button:hover {
    cursor: pointer;
    background-color: rgb(131, 194, 36);
}

#success {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: darkslategray;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#error-text {
    color: red;
    font-size: x-large;
    font-weight: 700;
}